@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;600&family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before, body, html{
    font-family: 'Roboto',sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul li, a{
    text-decoration: none;
    list-style: none;
}

.main_container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "nav head head head head"
    "nav main main main main" "nav main main main main"
    "nav main main main main" "nav main main main main"
    "nav main main main main" ;
}

.header{
    grid-area: head;
    background-color: #fff;
    box-shadow: 0px 1px 7px 2px #c6c4c4dc;
    z-index: 90;
}

.navigation{
    grid-area: nav;
    background-color: #0ea5e9;
    z-index: 100;
}

.main{
    grid-area: main;
    background-color: #e2e8f0;
    z-index: 80;
}

.navigation .nav_head img{
    height: auto;
    width: 40px;
    margin-right: 15px;
}

.navigation .nav_head{
    margin: 20px 25px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
}

.navigation nav img{
    height: auto;
    width: 20px;
    margin-right: 20px;
}

.navigation nav li a{
    display: flex;
    font-weight: 500;
    align-items: center;
    font-size: 20px;
    color: white;
}

.navigation nav li{
    background-color: transparent;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    transition-delay: 5ms;
    transition: backgroung-color 2s;
}

.navigation nav li:hover{
    background-color: rgba(255, 255, 255, 0.454);
}

.navigation nav{
    padding: 15px;
}

.nav1{
    margin-bottom: 100px;
    margin-top: 50px;
}


/* HEADER */
header{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header div{
    display: flex;
    align-items: center;
}

header input{
    width: 600px;
    min-width: 400px;
    height: 30px;
    border: none;
    background-color: #e2e8f0;
    border-radius: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 30px;
}

header img {
    height: auto;
    width: 25px;
}

header .search_head{
    flex-basis: 50%;
    align-items: center;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    /* background-color: aqua; */
}

.p_photo1{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 187, 0);
    margin: 0px 30px;
}

.p_photo2{
    background-color: rgb(255, 187, 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.header .user{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.header .user_h div:last-child{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.header .user_h div:last-child span{
    text-align: left;
    width: 100%;
    font-weight: 500;
}

.header .user_h div:last-child span:last-child{
    font-size: 25px;
}

.sub_sh{
    font-weight: 500;
    font-size: 20px;
    
}

.user .buttons button{
    padding: 10px 30px;
    font-size: 15px;
    color: white;
    background-color: #0ea5e9;
    border: none;
    border-radius: 20px;
    margin-left: 35px;
    font-weight: 500;
    cursor: pointer;
}

/* MAIN */
.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 8fr) repeat(1, 3fr);
}

main{
    height: 100%;
    width: 100%;
    padding: 30px 30px;
}

.project_sec{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 80%;
    gap: 30px;
}

.project_sec .project_items{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 7px 2px #c6c4c4dc;
}

.project_items{
    display: flex;
}

.project_items .side_line{
    background-color: rgb(255, 187, 0);
    flex-basis: 2%;
    border-radius: 0px;
}

.project_contents{
    flex-basis: 98%;
    padding: 20px 20px;
}

.project_contents p{
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: grey;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
}

.project_contents h2{
    font-size: 18px;
    font-weight: 500;
}

.container .main_head{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.container .Ack_tre{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: 85%;
    padding-left: 20px;
    justify-content: space-between;
}

.Ack_tre .A_T_items{
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    /* border-top: 5px solid blue; */
    box-shadow: 1px 1px 7px 2px #c6c4c4dc;
    padding: 25px;
}

.Ack_tre .ack{
    padding: 25px;
    overflow-y: scroll;
}

.Ack_tre .ack div{
    border-bottom: 1px solid grey;
    padding: 15px 0;
}

.Ack_tre .ack div:last-child{
    border: none;
}

.Ack_tre .ack div:first-child{
    padding-top: 0;
}

.Ack_tre .ack p{
    font-size: 13px;
    color: grey;
}

.Ack_tre .ack h3{
    font-size: 16px;
    padding-bottom: 5px;
    font-weight: 500;
}

.trend_items{
    display: flex;
    margin-bottom: 15px;
    font-size: 15px;
    align-items: center;
    font-weight: 100;
}

.trend_items div:first-child{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0ea5e9;
    margin-right: 10px;
}

.trend_items div:last-child{
    display: flex;
    flex-direction: column;
}

.trend_items div:last-child span:last-child{
    color: gray;
}

.trend_items div:first-child.pink{
    background-color: pink;
}

.trend_items div:first-child.yellow{
    background-color: rgb(255, 187, 0);
}